@model CodeFirstEF.Models.OrderDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>

        <dd>
            @Html.DropDownList("CustomerId", null, "Select Name", new { @class = "readonly" } )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
